<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rehanfoundation.app.insanparty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="rehanfoundation.app.insanparty.SplashActivity"
            tools:ignore="MissingClass"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="rehanfoundation.app.insanparty.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.member.MemberActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.user.UserActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.member.MemberRegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.user.UserRegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.user.UserLoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.user.UserHomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.member.MemberLoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.member.MemberMenuActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="rehanfoundation.app.insanparty.RegisterationForm"
            android:screenOrientation="portrait"/>





</application>


</manifest>